# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Local environment variables
# Keep .env.example in the repo, but ignore the actual .env file
.env
.env*.local

# Production build
/dist
/build
/.output
/.svelte-kit
/.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
*DS_Store

# Test results
/coverage

.DS_Store
# Local Netlify folder
.netlify
.vercel
